
<div class="header">
    
    <div class="logo">
        <a href="/">
            <img src="https://eintech.com/wp-content/uploads/Eintech-logo-white-v2.svg" alt="Test" />
        </a>
    </div>

    @{await Html.RenderPartialAsync("Search.cshtml");}

</div>