<div class="search">
    <div class="input ui mini input">
        <input type="text" id="txt-search-keyword" placeholder="Search users"/>
    </div>
    <div class="button">
        <button class="circular ui icon orange button medium" id="btn-search" title="Click to search users">
            <i class="search alternate icon"></i>
        </button>
    </div>
    <div class="t"></div>
</div>